.vs/Caesar-s-cipher/FileContentIndex/b217b959-9ed2-4fee-9714-26a5db32fde7.vsidx
.vs/Caesar-s-cipher/v17/.wsuo
.vs/Caesar-s-cipher/v17/DocumentLayout.backup.json
.vs/Caesar-s-cipher/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Caesar-s-cipher/FileContentIndex/616ea024-6559-482e-a081-3cb4173553e9.vsidx
.vs/Caesar-s-cipher/FileContentIndex/a716f8be-4bf0-4d7b-a54a-4e19289815e3.vsidx
