.vs/Caesars-cipher/FileContentIndex/5b8ab3b9-3512-411b-a076-ab78799a1d04.vsidx
.vs/Caesars-cipher/v17/.wsuo
.vs/Caesars-cipher/v17/DocumentLayout.backup.json
.vs/Caesars-cipher/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Caesars-cipher/FileContentIndex/cc00a8db-93c2-454c-884d-4e2ff6de23f2.vsidx
